<div class="container">
  <div class="card" style="background-color: #2ecc71">
    <h1>FB</h1>
    <p>$36.06</p>
    <p>+12.56</p>
    <p>(34.08%)</p>
    <h5>Last Trade</h5>
    <p>6.26:07pm</p>
    <h4>VOL: 8640</h4>

    <!--Toggle Switch-->
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
      <span class="slider-text"></span>
    </label>
  </div>
  <div class="card" style="background-color: #ecf0f1">
    <h1>FB</h1>
    <p>$36.06</p>
    <p style="margin-bottom: 0">+12.56</p>
    <p>(34.08%)</p>
    <h5>Last Trade</h5>
    <p style="margin-bottom: 0">6.26:07pm</p>
    <h4>VOL: 8640</h4>

    <!--Toggle Switch-->
   <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
      <span class="slider-text"></span>
    </label>
  </div>
</div>
