<div class="dashboard">
  <div
    class="stock-card"
    *ngFor="let stock of stocks"
    [ngClass]="
     getCardClass(stock)
    "
  >
    <div class="header">
      {{ stock.name }}
    </div>
    <div class="price">${{ stock.price | number : "1.2-5" }}</div>
    <div class="desktop-only">
      <p class="daily-price">
        High Price : {{ stock?.daily_high_price | number : "1.2-2" }} (daily)
      </p>
      <p class="daily-price">
        Low Price : {{ stock?.daily_low_price | number : "1.2-2" }} (daily)
      </p>
    </div>
    <div class="mobile-only">
      <p class="weekly-price">
        High Price : {{ stock?.fifty_two_week_high_price | number : "1.2-2" }} (52 weeks)
      </p>
      <p class="weekly-price">
        Low Price : {{ stock?.fifty_two_week_low_price | number : "1.2-2" }} (52 weeks)
      </p>
    </div>

    <div class="toggle-switch">
      <button
        class="toggle-btn"
        [class.active]="stock.active"
        (click)="toggleStock(stock)"
      >
        {{ stock.active ? "ON" : "OFF" }}
      </button>
    </div>
  </div>
</div>
