.container {
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 17px;
    flex-direction: row;
}

.card {
    padding: 0px 40px 10px 40px;
    border-radius: 10px;
    color:#34495e; 
    font-weight: 500;
}

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 60px;
//   height: 30px;
// }

// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .slider-text {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   border-radius: 30px;
//   transition: 0.4s;
//   font-size: 14px;
//   font-weight: bold;
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// input:checked + .slider-text {
//   background-color: #4CAF50;
// }

// .slider-text::after {
//   content: "OFF";
// }

// input:checked + .slider-text::after {
//   content: "ON";
// }


.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7f8c9a;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #bdc3c7;
  transition: 0.4s;
  border-radius: 50%;
}

/* Move knob to right when checked */
input:checked + .slider:before {
  transform: translateX(38px);
  background-color: #1abc9c;
}

/* Background color when checked */
input:checked + .slider {
  background-color: #34495e;
}

/* ON/OFF text inside the switch */
.slider::after {
  content: "OFF";
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

input:checked + .slider::after {
  content: "ON";
  left: 10px;
  right: auto;
  top: 10px;
  color: #1abc9c;
  font-weight: 600;
}
